<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Project</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="navbar.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script th:src="@{/Js/main.js}"></script>
	<link rel="stylesheet" th:href="@{/Css/home.css}">


</head>

<body>

	<div th:replace="navbar"></div>
	<br>
	<div class="sidebar">
		<span onclick="toogleSidebar()" class="crossbtn">&times;</span>
		<a href="" th:href="@{/home}"><i class="fa-solid fa-house"></i> &nbsp;Home</a>
		<a href="" th:href="@{/skill}"><i class="fa-solid fa-plus"></i></i>&nbsp;Skills</a>

		<a href="" th:href="@{/about}"><i class="fa-solid fa-list"></i>&nbsp;About</a>







	</div>
	<i onclick="toogleSidebar()" style="font-size: 28px; margin-left: 5%;" class="fa-solid fa-bars toggle m"></i>
	&nbsp; <br>



	<h1 style="text-align: center;color: white; border-bottom:3px solid #00986f;">Projects</h1>
	<br>
	<br>

	
		<div class="headskill">

			<div class="dataproject" th:each="p : ${ps}">
					<h2 style="color: #00986f; text-align: center;" th:text="${p.name}"></h2>



					<div class=" fl">
						<h5 style="color: #00986f;" for="exampleInputEmail1">Name :</h5>
						<p th:text="${p.name}"></p>

					</div>
					<div class="fl">

						<h5  style="color: #00986f;" for="exampleInputEmail1">Project Details :</h5 >
						<p th:text="${p.description}"></p>

					</div>

					

					<div  class="dl"  th:each="d : ${det}">
						<p th:text="'*' + ${d.detail}"></p>

					</div >




					<div class="fl">
						<h5   style="color: #00986f;" for="exampleInputEmail1">Frontened technologies :</h5>
						<p th:text="${p.frontend}"></p>

					</div>
					<div class=" fl">
						<h5  style="color: #00986f;" for="exampleInputEmail1">Backend Technologies :</h5 >
						<p th:text="${p.backend}"></p>

					</div>
					<div class="fl">
						<h5 style="color: #00986f;" for="exampleInputEmail1">Framework Used :</h5>
						<p th:text="${p.framework}"></p>

					</div>
					<div class="fl project">
						<h5  style="color: #00986f;" for="exampleInputEmail1">Samples :</h5 >
						<img style="width: 90%;" th:src="@{'/images/' + ${p.pimage}}" />
					</div>
					<br>
					<div class="fl">
						<h5 style="color: #00986f;" for="exampleInputEmail1">Developement Duration:</h5>
						<p th:text="${p.duration}"></p >

					</div>
					<br><br>
					
					<br><br>









			</div>


		</div>
	</div>
	</div>
	</div>







</body>

</html>